@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", "Inter", sans-serif;
  @apply text-midnight select-auto;
}

.nav-link {
  @apply hover:bg-charcoal/10 flex rounded-xl border-2 border-transparent p-2 font-semibold;
}

.nav-link.active {
  @apply border-charcoal/50 bg-charcoal/10;
}

#confirm-popup.hidden,
#game-over-popup.hidden {
  opacity: 0;
  pointer-events: none;
}

#confirm-popup.visible,
#game-over-popup.visible {
  opacity: 1;
  pointer-events: auto;
}

.pair-a-selected,
.pair-b-selected {
  @apply border-charcoal;
}

.pair-a-correct,
.pair-b-correct {
  @apply pointer-events-none border-emerald-500 bg-emerald-50;
}

#pair-a div:not(.pair-a-selected):not(.pair-a-correct):hover,
#pair-b div:not(.pair-b-selected):not(.pair-b-correct):hover {
  @apply bg-charcoal/10;
}

.pair-incorrect {
  @apply border-red-500 bg-red-50;
}
